html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:link {
    text-decoration: none;
    color: $dark;
}

body {
    font-family: $bodyFont;
    color: $dark;

    &.noscroll {
        overflow: hidden;
    }
}

h1 {
    position: relative;
    font-family: $logoFont;
}

h2 {
    margin-bottom: rem(30);
    font-size: rem(36);
    text-align: center;
    flex: 0 0 100%;

    @include breakpoint-up(medium) {
        font-size: rem(38);
    }

    @include breakpoint-up(large) {
        font-size: rem(40);
    }
}

h3 {
    font-size: rem(24);
}

h2,
h3 {
    position: relative;
    font-family: $headingFont;
}

ul {
    list-style-type: none;
}

// Helper Classes

// Floats for menu and hours
.float-left {
    float: left;
}

.float-right {
    float: right;
}


// Parallax effects for desktop viewing, regular image for tablet/mobile
.parallax {
    position: relative;
    background-color: $light;
    z-index: 1;
}

.parallax::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../../images/nail-polish-wall-2.jpg') no-repeat center bottom;
    background-size: inherit;
    background-attachment: fixed;
    opacity: 0.15;

    @include breakpoint-up(large) {
        background-size: cover;
    }
}

.marble-parallax {
    position: relative;
    background-color: $light;
    z-index: 1;
}

.marble-parallax::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../../images/marble-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.3;
}
