.container {
    max-width: 1080px;

    h1 {
        position: relative;
        margin-bottom: 15px;
        font-size: 42px;
    }

    h2 {
        text-align: center;  background-color: var(--main-bg);
    }

    p {
        margin-bottom: 50px;
    }
}

.flex-container {
    padding: 30px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        position: relative;
        margin-bottom: 30px;
        text-align: center;
    }
    
}

.button {
    padding: 10px;
    background-color: var(--accent-one);
    border: 2px solid var(--accent-one);

}

.button:hover {
    color: var(--main-text);
    background-color: var(--main-bg);
}

.large-button {
    position: relative;
    padding: 20px 50px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.bold {
    font-weight: 700;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.main-background {
    background-color: var(--main-bg);
}

.accent-background {
    background-color: var(--accent-one);
}

.marble-parallax {
    position: relative;
    background-color: var(--main-bg);
}

.marble-parallax::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../images/marble-bg.jpg') no-repeat top;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.2;
}

.parallax {
    position: relative;
}

.parallax::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url('../images/chairs.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.125;
}