:root {
    --logo-font: 'Montserrat', sans-serif;
    --heading-font: 'Forum', cursive;
    --body-font: 'PT Sans', sans-serif;
    --main-bg: #fff6f5;
    --main-text: #1b1b1b;
    --accent-one: #b48e81;
    --accent-two: #dcdcda;
}