// Fonts
$logoFont: 'Montserrat', sans-serif;
$headingFont: 'Forum', cursive;
$bodyFont: 'PT Sans', sans-serif;

// Colors
$light: hsl(6, 100%, 98%);
$dark: hsl(0%, 0%, 11%);
$accentOne: hsl(15, 25%, 61%);
$accentTwo: hsl(14, 25%, 63%);