@import '_variables';
@import '_functions';
@import '_utility';
@import '_boilerplate';

header {
    padding: rem(20);
    background-color: var(--main-bg);

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: rem(40);
    }

    a {
        margin: 0 rem(10) 0;
        font-size: rem(20);
    }

    a:hover,
    a:active {
        color: var(--accent-one);
        transition: 200ms ease-in-out;
    }

    .mainMenu {
        display: flex;
    }

    .openMenu,
    .closeMenu {
        display: none;
        font-size: rem(24);
        cursor: pointer;
    }
}


#hero-section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
    text-align: center;

    p {
        position: relative;
        max-width: 800px;
        font-size: rem(20);
    }
}



#services {
    margin: auto;
    max-width: 1080px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: rem(50);
    row-gap: rem(10);

    h3 {
        margin-bottom: rem(10);
    }

    .services__nails {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    
    .services__waxing {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
    
    .services__skin {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    
    .services__massage {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
}

#hours {
    position: relative;
    margin: auto;
    max-width: 1080px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(100);
    font-size: rem(20);
    line-height: 1.4;

    .benefits {
        font-size: rem(22);
        list-style-type: disc;

        span {
            font-weight: 700;
        }
    }
}

#reviews {
    max-width: rem(1080);
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: rem(20);
    font-family: var(--body-font);
    font-size: rem(20);

    .reviews__card {
        position: relative;
        padding: rem(30);
        border-radius: rem(10);
        background-color: var(--accent-one);
        box-shadow: 2px 2px 8px var(--dark);
        font-weight: 500;
        text-align: center;

        img {
            width: rem(50);
            margin-bottom: rem(10);
            opacity: 0.9;
        }

        .testimonial {
            margin-bottom: rem(20);
            font-style: italic;
        }

        .customer-name {
            font-weight: 700;
            color: var(--main-bg);
            opacity: 0.9;
        }
    }

    .reviews__card:hover {
        transition: 300ms;
        box-shadow: 3px 3px 14px var(--dark);
    }
}

footer {
    margin: 0 auto;
    padding: rem(20) rem(50) rem(20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
    background-color: var(--dark);

    * {
        color: var(--main-bg);
    }

    .footer-info {
        font-size: rem(20);

        i {
            font-size: rem(30);
        }

    }

    // .footer-map {
    //     height: rem(300);

    //     iframe {
    //         height: 100%;
    //         width: 100%;
    //         border: 0;
    //     }
    // }

    .footer-hours {
        min-width: rem(180);
    }

    .footer-cta {
        padding: rem(20);
        border: 2px solid var(--accent-two);
        font-size: rem(24);
        color: var(--main-bg);
    }

    .footer-cta:hover {
        background-color: var(--accent-one);
        color: var(--dark);
    }

    .copyright {
        margin-top: rem(15);
        flex: 0 0 100%;
        text-align: center;
        font-style: italic;
        font-size: rem(14);
    }
}

// Mobile styling
@media (max-width: 991px) {
    header {
        padding: rem(10);
    }

    nav {
        h1 {
            font-size: rem(32);
        }
        .openMenu {
            display: block;
        }

        .mainMenu {
            height: 100vh;
            padding-top: rem(40);
            position: fixed;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            z-index: 100;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: rem(35);
            transition: top 500ms ease;
            background: linear-gradient(var(--accent-two), var(--main-bg));
            display: none;

            a {
                font-size: rem(30);

                .button {
                    order: -1;
                }
            }
        }

        .closeMenu {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    #hero-section {
        height: 75vh;

        h1 {
            font-size: rem(30);
        }
        
        p {
            font-size: rem(18);
            padding: 0 rem(20) 0;
        }

        .button {
            padding: rem(15);
        }
    }

    #services {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, fit-content(30vh));

        .services__nails {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        
        .services__waxing {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        
        .services__skin {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        
        .services__massage {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }
    }

    #hours {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, fit-content(30vh));
        gap: rem(30);
        font-size: rem(16);

        .hours__open {
            padding: 0 rem(75) 0;
        }

        .benefits {
            font-size: rem(18);
            padding: 0 rem(35) 0;
        }
    }

    #reviews {
        padding: 0 rem(30) 0;
        flex-wrap: wrap;
    }

    footer > * {
        margin-bottom: rem(25);
    }

    footer {
        .footer-cta {
            order: -1;
        }
    }
}